{% extends 'base.html' %}
{% block title %}
head
{% endblock %}
{% block body %}
<!-- <form method="post">
    <div id="content">
        <h2>Админ-панель</h2>
        <p class="lead"></p><h5> Введите id покупки </h5></p>
        <p class="lead"></p><h6> После выдачи заказа, введите его id для удаления из базы. </h6></p>
        <p class="lead"><textarea name="tag" id="tag" class="form-control" placeholder="Введите id"> </textarea>></p>
        <p class="lead"><button>Подтвердить</button>
    </div>
</form>     -->

<form name='enter' method='post'>
    <div id="enter", name="enter">
    <center>
    <p><input type="text" name="loginnn" id=/></p>
    <p><input type="password" name="passwwword"/></p>
    <p>
        <button type="submit" formmethod="post" formaction="">Отправить</button>
        <button type="reset">Очистить </button>
    </p>
    </center>
    </div>
</form>
{% endblock %}